[user]
	name = Andreas Papacharalampous
	email = me@apap04.com
[core]
	autocrlf = false
	filemode = false
	fscache = false
[color]
	ui = true
[gitreview]
	remote = origin
	username = apap04
[http]
	cookiefile = /home/andreas/.gitcookies
